
  .cebian{
   
font-size: 15px;
margin-left: auto;
  }
  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 设置网页统一的字体大小、行高、字体系列相关属性 */
body {
  font: 16px/1.5  "Microsoft Yahei",
    "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
  color: #333;
  background-color: #fff;
}

/* 去除列表默认样式 */
ul,
ol {
  list-style: none;
}

/* 去除默认的倾斜效果 */
em,
i {
  font-style: normal;
}

/* 去除a标签默认下划线，并设置默认文字颜色 */
a {
  text-decoration: none;
  color: #333;
}

/* 设置img的垂直对齐方式为居中对齐，去除img默认下间隙 */
img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

/* 去除input默认样式 */
input {
  border: none;
  outline: none;
  color: #333;
}

/* 清楚标题标签的字体加粗效果 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
/* 头尾各个页面相同的样式 */
/* 版心 */
.wrapper {
  margin: 0 auto;
  width: 1290px;
}

/* 快捷导航 shortcut */
.shortcut {
  height: 52px;
  background-color: #333;
  float:left;
  width: auto;
}
.shortcut .wrapper {
  display: flex;
  justify-content: flex-end;
  height: 52px;
}
.shortcut ul{
  height: 52px;
  display: flex;
}
.shortcut li{
  margin-top: 20px;
  height: 14px;
  padding: 0 15px;
  border-right: 0.5px solid #999;
}
.shortcut li:last-child{
  border: none;
}
.shortcut li a{
  display: block;
  color: #fff;
  height: 14px;
  line-height: 15px;
  font-size: 13px;
}
.shortcut li a:hover{
  color: #5EB69C;
}
.shortcut li span{
  vertical-align: middle;
}

/* 头部区域 header */
.header{
  display: flex;
  height: 85px;
  margin-top: 22px;
  margin-bottom: 22px;
}
/* logo区域 */
.header .logo{
  width: 200px;
  margin-right: 40px;
 
}
.header h1 a{
  display: block;
  width: 200px;
  height: 95px;
  font-size: 0;
}
/* 导航区域 */
.nav{
  margin-top: 30px;
  margin-right: 28px;
}
.nav ul{
  display: flex;
  justify-content: space-between; 
}
.nav li{
  margin-right: 48px;
}
.nav a{
  display: block;
  padding-bottom: 8px;
}
.nav a:hover{
  border-bottom: 2px solid #5EB69C;
  color: #5EB69C;
}
/* 搜索区域 */
.search{
  display: flex;
  margin-top: 33px;
  margin-right: 27px;
  width: 170px;
  height: 30px;
  border-bottom: 2px solid #F4F4F4;
  padding-bottom: 4px;
}

.search input{
  /* input有默认宽度，需要西安重置宽度为0 */
  width: 0;
  flex: 1;
}
.search input::placeholder{
  color: #ccc;
  height: 22px;
  font-size: 16px;
}
/* 购物车 cart */

.cart{
  position: relative;
  margin-top: 34px;
  width: 21px;
  height: 21px;
  float: none;
}
.cart .iconfont{
  font-size: 35px;
}
.cart i{
  position: absolute;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  top: 4px;
  left: 20px;
  padding: 0 7px;
  background-color: #E26237;
  border-radius: 8px;
}

/* 底部 service */
.footer{
  height: 582px;
  background-color: #f5f5f5;

}
/* 服务 */
.service{
  height: 179px;
  border-bottom: 1px solid #e8e8e8;
}
.service ul{
  display: flex;
  height: 179px;
  justify-content: space-evenly;
  align-items: center;
}
.service li{
  height: 58px;
  background: url(../images/sprite.png) no-repeat;
  padding-left: 78px;
}
.service li:nth-child(2){
  background-position: 0 -58px;
}
.service li:nth-child(3){
  background-position: 0 -116px;
}
.service li:nth-child(4){
  background-position: 0 -174px;
}
.service h5{
  line-height: 58px;
  font-size: 28px;
}
/* 帮助中心 */
.help{
  display: flex;
  justify-content: space-between;
  padding-top: 58px;
  height: 302px;
}
.help dt{
  margin-bottom: 20px;
  font-size: 18px;
}
.help dd a{
  line-height: 32px;
  color: #969696;
}
.help dd .iconfont{
  color: #5EB69C;
}
.help .right ul{
  display: flex;
  justify-content: space-between;
  width: 295px;
}
.help .right img{
  width: 120px;
  height: 120px;
  margin-bottom: 8px;
}
.help .right p{
  text-align: center;
  color: #969696;
}
/* 版权 */
.copyright{
  text-align: center;
}
.copyright p,
.copyright p a{
  color: #A1A1A1;
}
.copyright p{
  margin-bottom: 10px;
}


/* banner区域 */
.banner{
  /* height: 500px; */
  background-color: #f5f5f5;
}
.banner .wrapper{
  display: flex;
  position: relative;
}

/* 侧导航 */

.subnav{
  width: 270px;
  background-color: rgba(0, 0, 0,0.6);
}
.subnav li{
  display: flex;
  height: 60px;
  padding: 14px 12px 14px 29px;
  position: relative;
}
.subnav a{
  color: #fff;
  font-size: 14px;
  line-height: 25px;
}
.subnav a{
  margin-right: 5px;
}
.subnav h4{
  font-weight: 500;
  font-size: 16px;
  margin-right: 10px;
}
.subnav li a:last-child{
  margin-left: auto;
  font-size: 18px;
}

/* 轮播图 */
.pic{
  display: flex;
  width: 990px;
  overflow: hidden;
}
.pic img{
  width: 990px;
}

/* 圆点 */
.banner ol{
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
}
.banner ol li{
  width: 22px;
  height: 22px;
  border-radius: 50%;
  margin-right: 8px;
  margin-bottom: 16px;
  position: relative;
}
.banner i{
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
/* 点击圆点，给 li 和 i 分别添加背景颜色属性 */
.active{
  background-color: rgba(255, 255, 255, 0.5);
}
.active i{
  background-color: rgb(255, 255, 255);
}

/* 新鲜好物 */
.goods{
  background-color: #fff;
}
.goods .title, .brand .title, .fresh .title{
  display: flex;
  align-items: center;
  position: relative;
}
.goods .title{
  height: 102px;
  margin-top: 10px;

}
.title h3{
  font-size: 35px;
  line-height: 42px;
  margin-right: 35px;
}
.title p,
.title a,
.title .iconfont{
  color: #A1A1A1;
}
.title p{
  position: relative;
  bottom: -8px;
}
.title .all{
  position: absolute;
  right: 0;
}
.goods .title .iconfont{
  margin-left: 10px;
}
/* 内容区域 */
.goods ul{
  display: flex;
  justify-content: space-between;
}
.goods ul li{
  width: 304px;
}
.goods ul img{
  height: 304px;
}
.goods .price{
  height: 100px;
}
.bd .price{
  background-color: #EEF9F4;
}
.goods .price p{
  text-align: center;
  font-size: 22px;
  color: #AA2113;
}
.goods .price a{
  display: block;
  font-size: 20px;
  padding: 17px 0 4px;
}
.recommend .price p{
  font-size: 16px;
  color: #A1A1A1;
  padding-bottom: 6px;
}
.recommend{
  margin-bottom: 60px;
}

/* 热门品牌 */
.brand{
  height: 468px;
  background-color: #f1f1f1;
}
.brand .title{
  height: 122px;

}
.title .jiantou{
  position: absolute;
  right: 0;
  bottom: 15px;
}
.jiantou .left, .jiantou .right{
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #e4e4e4;
  line-height: 20px;
  text-align: center;
}
.jiantou .left{
  margin-right: 12px;
}
.jiantou .iconfont{
  color: #fff;
}
.jiantou span:hover{
  background-color: #5EB69C;
}
.brand ul{
  display: flex;
  justify-content: space-between;
}
/* 生鲜 */
.fresh{
  padding-top: 20px;
}
.fresh .title{
  margin-top: 0px;
  margin-bottom: 10px;
  position: relative;
}
.fresh .title ul{
  display: flex;
  position: absolute;
  right: 134px;
}
.fresh .title ul a{
  display: block;
  height: 22px;
  line-height: 22px;
  color: #333;
  padding: 0 7px;
  margin-right: 6px;
  font-size: 20px;
}
.fresh .title ul a:hover{
  background-color: #5EB69C;
  color: #fff;
}
.fresh .content{
  display: flex;
}
.fresh .content .left{
  width: 248px;
  height: 610px;
  margin-right: 24px;
}
.fresh .content .right ul{
  display: flex;
  width: 968px;
  flex-wrap: wrap;
}
.fresh .content .right li{
  width: 242px;
  height: 305px;
  padding: 0 26px;
}
.fresh .content .right img{
  width: 190px;
  height: 171px;
  margin: 14.5px 0;
}
.fresh .content .right a{
  display: block;
  width: 192px;
  line-height: 19px;
}
.fresh .content .right span{
  font-size: 22px;
  line-height: 45px;
  color: #AF2F22;
}
.fresh .content .right i{
  font-size: 16px;
  margin-right: 4px;
}
.topic{
  padding-top: 70px;
}
.topic .title{
  margin: 30px 0;
  position: relative;
}
.topic ul{
  height: 395px;
  display: flex;
}
.topic li img{
  display: block;
  width: 405px;
  height: 288px;
  margin-bottom: 23px;
}
.topic div{
  position: relative;
}
.topic div span{
  margin-left: 15px;
  margin-right: 5px;
  font-size: 14px;
  line-height: 20px;
}
.topic div i{
  font-size: 14px;
}
.topic div .iconfont{
  font-size: 16px;
  color: #888;
}
.topic div .iconfont:last-child{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.topic li img {
    display: block;
    width: 400px;
    height: 288px;
    margin-bottom: 23px;
    }
